<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677468908366-oqckhfnhokjnojn622p1eq9nid4tekqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677468908366-oqckhfnhokjnojn622p1eq9nid4tekqg</string>
	<key>API_KEY</key>
	<string>AIzaSyAozflnO5rXDpFeycttRL67t7QThv8Cvgc</string>
	<key>GCM_SENDER_ID</key>
	<string>677468908366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyperlink.GallaryApplication</string>
	<key>PROJECT_ID</key>
	<string>demogallaryapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>demogallaryapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677468908366:ios:11e5129adac08982d8cc1f</string>
</dict>
</plist>